<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div id="todoIndex">
  <form v-on:submit.prevent="createTodo($event)" action="/todos">
    <input type="text" id="new_todo_area" v-model="newTodoName">
  </form>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Done</th>
      <th></th>
    </tr>
    </thead>

    <tbody v-for="(todo, index) in todos">
      <tr>
        <td>{{ todo.name }}</td>
        <td>{{ todo.done }}</td>
        <td><input type="button" v-on:click="deleteTodo(index, todo.id)" value="delete"></td>
      </tr>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Todo', new_todo_path %>
</div>
