<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div id="todo_index">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody v-for="todo in todos">
      <tr>
        <td>{{ todo.name }}</td>
        <td>{{ todo.deadline }}</td>
        <td><{{ todo.done }}</td>
        <td>show</td>
        <td>edit</td>
        <td>delete</td>
      </tr>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Todo', new_todo_path %>
</div>
